@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=Cinzel+Decorative:wght@400;700&family=IM+Fell+English:ital@0;1&family=Share+Tech+Mono&display=swap');
@import "tailwindcss";


@theme {
    --font-cinzel: 'Cinzel', serif;
    --font-cinzel-deco: 'Cinzel Decorative', serif;
    --font-fell: 'IM Fell English', serif;
    --font-mono-rpg: 'Share Tech Mono', monospace;
    --color-gold: #c8a02c;
    --color-gold2: #f0d060;
}

html,
body,
#app {
    height: 100%;
}

body {
    background: #080610;
    color: #e8dfc8;
    overflow: hidden;
    font-family: 'IM Fell English', serif;
}